
.DS_Store
*.DS_Store
src/score/.Rhistory
src/FLEX_analysis/.Rhistory
src/barseq_to_reads/Library/._summarizeAlignments.jar
src/barseq_to_reads/Library/._Candida_barcode_V16_final_annotation_GRACEGELC.xlsx
src/barseq_to_reads/Library/._Candida_barcode_V16_final_annotation_GRACEGELC.txt
src/barseq_to_reads/Library/._all_barcodes_v3.fasta
notebooks/.ipynb_checkpoints/data_analysis_visualization-checkpoint.ipynb
notebooks/.ipynb_checkpoints/GO_enrichment-checkpoint.ipynb
STAR_Protocols_code_data/score_example/.Rhistory
STAR_Protocols_code_data/assign_example/.Rhistory
